.barra {
  background-color: #419cc9;
  color: #fff;
}

.derecha{
  float: right;
  margin-right: 1% !important;
  z-index: 1;
  transform: translateY(-50%) !important;
  background-color: black;
}

.derecha-tab{
  float: right;
  margin-right: 2.5% !important;
  z-index: 1;
}

mat-header-cell {
  font-size: 14px !important;
  background-color: #419cc9  !important;
  color: white !important;
}

